
@{
    ViewBag.Title = "Login";
}

@{ 
    if (!string.IsNullOrEmpty(ViewBag.mensaje))
    {
        <div class="alert alert-danger">
            @ViewBag.mensaje
        </div>
    }
}
<h2>Login</h2>
<hr />

<div>
    @using (Html.BeginForm("IniciarSesion", "Usuario",FormMethod.Post))
    {

        <div class="form-group">
            <label>Ingresa tu nombre de ususario</label>
            <input type="text" class="form-control" value="" name="NombreUsuario" />
        </div>

        <div class="form-group">
            <label>Ingresa tu clave</label>
            <input type="password" class="form-control" value="" name="Clave" />
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>

    }

</div>
